html {

}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content:space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo span {
  margin-left: 15px;
}

nav {
  display: flex;
  width: 250px;
  justify-content: space-between;
  text-decoration: underline;
}

.main_container {
  border: 5px solid black;
}
