html {

}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content:space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo span {
  margin-left: 15px;
}

div {
  border: 1px solid black;
}

nav {
  display: flex;
  width: 250px;
  justify-content: space-between;
  text-decoration: underline;
}

.main_container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1250px;
  height: 650px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.newsitem.short p {
  margin: 0;
}
